* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

facerec-service/certs/*.crt binary
facerec-service/certs/*.key binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
